In [116]:
import pandas as pd

In [117]:
DATA = 'ech_dataset'

In [118]:
articles = !ls echr_dataset

In [119]:
for article in articles:
    path = f'{DATA}/{article}'

In [170]:
!ls echr_dataset/Article6/

cases_a6.csv		     ngrams_a6_full.csv       ngrams_a6_relevantLaw.csv
ngrams_a6_circumstances.csv  ngrams_a6_law.csv	      topics6.csv
ngrams_a6_featureNames.txt   ngrams_a6_procedure.csv  topics6_vocab.txt

In [178]:
def get_article(path):
    data = !ls $path

In [179]:
print(get_article('echr_dataset/Article6/'))

None

In [150]:
cases = pd.read_csv('echr_dataset/Article6/cases_a6.csv', header=None)
cases.head()

                                                   0  1
0                        CASE OF MIKHAYLOV v. RUSSIA  v
1                          CASE OF NOZHKOV v. RUSSIA  v
2  CASE OF VELINOV v. THE FORMER YUGOSLAV REPUBLI...  v
3                          CASE OF SAZONOV v. RUSSIA  v
4           CASE OF KUTEPOV AND ANIKEYENKO v. RUSSIA  v

In [172]:
topics = pd.read_csv('echr_dataset/Article6/topics6.csv', sep='\t', header=None)
topics.head()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,0.045326,0.000000,0.005666,0.011331,0.084986,0.005666,0.008499,0.042493,0.000000,0.005666,...,0.014164,0.011331,0.280453,0.014164,0.014164,0.218130,0.019830,0.000000,0.0,0.000000
1,0.011952,0.000000,0.031873,0.003984,0.009960,0.003984,0.013944,0.055777,0.001992,0.011952,...,0.001992,0.013944,0.233068,0.009960,0.009960,0.103586,0.019920,0.000000,0.0,0.025896
2,0.010980,0.001569,0.018039,0.005490,0.003922,0.003922,0.026667,0.048627,0.008627,0.021176,...,0.015686,0.037647,0.196863,0.102745,0.042353,0.021176,0.077647,0.003137,0.0,0.119216
3,0.012295,0.004098,0.010246,0.008197,0.051230,0.008197,0.020492,0.018443,0.018443,0.004098,...,0.006148,0.018443,0.264344,0.129098,0.012295,0.131148,0.047131,0.006148,0.0,0.045082
4,0.257846,0.000848,0.006785,0.016964,0.000848,0.005937,0.027142,0.016115,0.048346,0.004241,...,0.006785,0.005937,0.230704,0.050891,0.008482,0.057676,0.062765,0.006785,0.0,0.027142

In [152]:
circumstances = pd.read_csv('echr_dataset/Article6/ngrams_a6_circumstances.csv', header=None)
circumstances.head()

,0,1,2,3,4,5,6,7,8,9,...,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999
0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.003003,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.001464,0.0,...,0.001464,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [153]:
full = pd.read_csv('echr_dataset/Article6/ngrams_a6_full.csv', header=None)
full.head()

,0,1,2,3,4,5,6,7,8,9,...,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999
0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
1,0.0,0.0,0.0,0.001992,0.0,0.0,0.0,0.000000,0.000000,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
2,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000784,0.000784,0.0,...,0.000784,0.0,0.0,0.0,0.0,0.0,0.000784,0.0,0.0,0.0
3,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
4,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0

In [154]:
laws = pd.read_csv('echr_dataset/Article6/ngrams_a6_law.csv', header=None)
laws.head()

,0,1,2,3,4,5,6,7,8,9,...,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.014925,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.014925,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0

In [155]:
procedures = pd.read_csv('echr_dataset/Article6/ngrams_a6_procedure.csv', header=None)
procedures.head()

,0,1,2,3,4,5,6,7,8,9,...,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [156]:
relevant_laws = pd.read_csv('echr_dataset/Article6/ngrams_a6_relevantLaw.csv', header=None)
relevant_laws.head()

,0,1,2,3,4,5,6,7,8,9,...,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [159]:
cases[1].head()

0    v
1    v
2    v
3    v
4    v
Name: 1, dtype: object

In [135]:
data = pd.concat([cases[1], relevant_laws, circumstances, full, laws, procedures, relevant_laws], axis=1, ignore_index=True)

In [160]:
X = data.iloc[:, 1:]

In [161]:
y = data[0]

In [162]:
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from sklearn.pipeline import make_pipeline
from sklearn import preprocessing

import numpy as np

In [163]:
param_grid = [
    {'kernel': ['rbf'], 'gamma': [1e-3, 1e-4],'C': [1, 10, 100, 1000]},
    {'kernel': ['linear'], 'C': [1, 10, 100, 1000]}
]

In [167]:
clf = make_pipeline(preprocessing.StandardScaler(), 
                    GridSearchCV(SVC(),
                                 param_grid=param_grid, cv=10, refit=True))

In [168]:
scores = cross_val_score(clf, X, y, cv=10)

In [169]:
np.mean(scores)

0.8